body{
    background-color:antiquewhite;
}
nav{
    background-color: black;
    height: 50px;
    
}
nav ul{
    align-items: center;
    list-style: none;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    display: block;
    padding: 0.5rem 1.2rem;
    background: lightblue;
    color: white;
    text-decoration: none;
}

nav ul li ul{
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 330ms all ease-in-out;
}

nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
}