
    *{
        margin: 0;
    }
    main{
        display: flex;
    }

    table{
        width: 100vw;
    }
    #first{
       background-color: red;
       width: 800px;
       height: 300px;
    }
    #second{
        background-color: aquamarine;
        width: 800px;
        height: 300px;
    }
    div{
        display: flex;
        align-items: center;
    }
